#### Q.1
- What is the result of the following?

In [1]:

numbers = [1,2,3,4,5]

total=0

for num in numbers:
    total+=num
    
print(total)

15

In [2]:
def outer_function():
    x=10
    
    def inner_function():
        nonlocal x
        x +=1
        print(x)
        
    inner_function()
    
outer_function()

11

#### Q.2
- Make the given text "top gun " into uppercases

In [3]:
def upper_case(text):
    return text.upper()

result=upper_case("Top, Gun")

print(result)

TOP, GUN

#### Q.3
- Is why is d returning a zero?

- This is because d is into in the dictionary created

In [3]:
#this creates a dictionary
my_dict={'a':2,'b':3,'c':4}
#this tries to get d from the dictionary if not present it returns 0
result=my_dict.get('d',0)
print(result)

0

#### Q.4
- What is the output of the following?

In [4]:
s= "Linkedin"
print(s.replace('in','is'))

Liskedis

- The above shows how 'replace' is used

#### Q.5
- How to check if a set is contained in another set

In [7]:
#sets 1 and 2

s1 = {'c','b','a','f'}
s2 = {'c','b','a','f'}

print(s2<=s1)

True

In [10]:
git

NameError: name 'git' is not defined

Q.6

- how to converst column entries to lower characters and remove special characters using python

In [1]:
import pandas as pd

import re

In [8]:
# sample dataframe:

data=  {'column_1': ['Hello, World!', 'Python 3.5', 'Special#Characters'],
       'column_2':['#trEes','mangOes2441','zEBra'],
       'Column3': ['12345', '67890', '99@!#!']}

df = pd.DataFrame(data)
df

             column_1     column_2 Column3
0       Hello, World!       #trEes   12345
1          Python 3.5  mangOes2441   67890
2  Special#Characters        zEBra  99@!#!

In [10]:
# function

def process(text):
    text=text.lower()# convert to lower
    text = re.sub(r'[^a-zA-Z0-9\s]','',text)# take care of the special characters
    return text

#apply to the dataframe 
for column in df.columns:
    df[column]= df[column].apply(process)
    

df

            column_1     column_2 Column3
0        hello world        trees   12345
1          python 35  mangoes2441   67890
2  specialcharacters        zebra      99

Q7

- make a password generator

In [1]:
import random

In [9]:
possibilities = [
    'q','w','e','r','t','y','u','i','o','p','a','s','d',
    'f','g','h','j','k','l','z','x','c','v','b','n','m',
    'Q','W','E','R','T','Y','U','I','O','P','A','S','D',
    'F','G','H','J','K','L','Z','X','C','V','B','N','M',
    '7','8','9','4','5','6','1','2','3','0','/','[',']',
    '{','}','<','>','@','#','$','%','^','*','(',')'
]

# declare an empty string 

password = ''

for x in range(16):
    password = password+ random.choices(possibilities)[0]
print( 'New password: \n', password)

New password:
 {O4EG7qKEdSHDRiX