## Some advance python technics

- Given the following list sort it out in order

In [2]:
x= [4,2,8,6,5]
# we can create a new list using sorted as follows
y = sorted(x)
print(y)

# or we decide to sort x directly using sort
x.sort()
print(x)

[2, 4, 5, 6, 8]
[2, 4, 5, 6, 8]

- From the above list sort the list from the largest to the smallest

In [3]:
x = sorted(x,reverse = True)
x

[8, 6, 5, 4, 2]

## Functions

In [4]:
def multi(x):
    """this function multiplies its input by 2"""
    return x*2

In [5]:
multi(4)

8

- explain what the following function does

In [6]:
def apply_to_one(f):
    """calls the function f with 1 as its argument"""
    return f(1)

- in the function bellow ,the apply_to_one function multiplies 1* 2 , from the multi function above

In [11]:

x=apply_to_one(multi)
x

2

In [12]:
# Creating anonymous functions (lambdas)

y = apply_to_one(lambda x:x*2)
y

2

## Default parameters on functions

In [14]:
def my_message(message = 'Hakuna matata'):
    print(message) # will print message if not specified another parameter
my_message()

Hakuna matata

In [15]:
my_message('Chicken Biriani')

Chicken Biriani